.address-page {
  width: 100%;
}

.address-title {
  margin:0;
  margin-bottom: 20px;
  color:#566246;
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 24px;
}

.address-grid {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;   
  align-items: flex-start;
}

.address-card {
  flex: 0 0 48%;       
  max-width: 48%;
  height: 230px;
  border: 1px solid #d6d6d6;
  border-radius: 12px;
  padding: 15px 12px;
  background: #fff;
}


/* Default radio */
.default-radio {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.default-radio input {
  display: none;
}

.radio-dot {
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}

.default-radio input:checked + .radio-dot::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
}

.default-text {
  font-size: 16px;
  font-weight: 500;
}

/* Text */
.address-name {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
}

.address-phone {
  margin: 6px 0;
  color: #444;
  font-size: 14px;
}

.address-text {
  margin: 6px 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

.address-type {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
}

/* Actions */
.address-actions {
  display: flex;
  gap: 25px;
  margin-top: 14px;
}

.edit-btn {
  border: none;
  background: transparent;
  color: #2563eb;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.delete-btn {
  border: none;
  background: transparent;
  color: #dc2626;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}
.new-address{
    padding-top: 1rem;
}
.new-address button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #3464DE;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;

}
@media (max-width:550px){
   .address-title {
  margin-bottom: 20px;
  font-size: 18px;
}
.address-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.address-card {
  width:100%;      
  max-width: 400px;
  height: 220px;
}

}
@media (max-width:450px){
.address-card {
  width:100%;      
  max-width: 350px;
  min-width: 200px;
  
}
}

