.footer-section{
    background-color: #566246;
    color: white;
     padding: 1.5rem 0.6rem;
}
.footer-container{
    padding-left:1rem;
    display: flex;
    justify-content: space-between;
    
}
.footer-container h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0.8rem 0rem;
}
.footer-container p{
  text-decoration: none;
  color: white;
    font-size: 1.2rem;
    font-weight: 400px;
    font-family: 'DM Sans', sans-serif;
    margin: 0.5rem 0rem;
}
.footer-container p>a{
  text-decoration: none;
  color: white;
    font-size: 1.2rem;
    font-weight: 400px;
    font-family: 'DM Sans', sans-serif;
    margin: 0.5rem 0rem;
}
.first-part-cont>p, .second-part-cont>p,  .fourth-part-cont>p{
  width:15%;
  min-width: 110px;
   cursor: pointer;
}
 .third-part-cont>p{
  width:20%;
  min-width: 200px;
   cursor: pointer;
}

.fifth-part-cont{
  width:25%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.logo-imges-container{
    width: 50%;
    height: 100px;
    display:flex;
    justify-content:space-between;
    align-items:end;
    gap: 10px;
    padding-bottom: 2rem;
}
.logo-imges-container span{
    cursor: pointer;
}
.three-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.three-content p{
  font-size: 1.2rem;
  font-family: 'DM Sans';
  cursor:pointer;
  color: white;
}

.copyright-container> p{
    margin : 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'DM Sans';
     color: white;
}
.copyright-container a{
    color: white;
}
hr{
  margin: 5px 10px;
}
.ic--baseline-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mage--instagram-circle {
  display: inline-block;
  width:42px;
  height: 42px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.61 12.243a1.6 1.6 0 1 1-1.56-1.63a1.62 1.62 0 0 1 1.56 1.63'/%3E%3Cpath fill='%23000' d='M14.763 7.233H9.338a2.024 2.024 0 0 0-2.024 2.024v5.547a2.024 2.024 0 0 0 2.024 2.024h5.425a2.024 2.024 0 0 0 2.024-2.024V9.267a2.026 2.026 0 0 0-2.024-2.034m-2.713 7.723a2.703 2.703 0 1 1 2.642-2.703a2.67 2.67 0 0 1-2.642 2.703m2.936-5.405a.496.496 0 0 1-.496-.506a.506.506 0 1 1 1.012 0a.496.496 0 0 1-.557.506z'/%3E%3Cpath fill='%23000' d='M12.05 2a10 10 0 1 0-.1 20a10 10 0 0 0 .1-20m6.073 12.702a3.39 3.39 0 0 1-3.41 3.411H9.389a3.39 3.39 0 0 1-3.411-3.41V9.378a3.39 3.39 0 0 1 3.41-3.411h5.325a3.39 3.39 0 0 1 3.41 3.41z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.formkit--twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' d='M7 0c3.87 0 7 3.13 7 7s-3.13 7-7 7s-7-3.13-7-7s3.13-7 7-7M5.72 10.69c3.1 0 4.8-2.57 4.8-4.8v-.22c.33-.24.62-.54.84-.88c-.3.13-.63.22-.97.27c.35-.21.62-.54.74-.93c-.33.19-.69.33-1.07.41c-.31-.33-.75-.53-1.23-.53c-.93 0-1.69.76-1.69 1.69c0 .13.01.26.05.38c-1.4-.07-2.65-.74-3.48-1.76c-.14.25-.23.54-.23.85c0 .58.3 1.1.75 1.4c-.28 0-.54-.08-.76-.21v.02c0 .82.58 1.5 1.35 1.66c-.14.04-.29.06-.44.06c-.11 0-.21-.01-.32-.03c.21.67.84 1.16 1.57 1.17c-.58.45-1.31.72-2.1.72c-.14 0-.27 0-.4-.02c.74.48 1.63.76 2.58.76' class='cls-1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.entypo-social--linkedin-with-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ph--line-vertical-thin {
  display: inline-block;
  width: 25px;
  height: 25px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M132 24v208a4 4 0 0 1-8 0V24a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
  background-color: white;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (max-width: 1150px){
  .footer-container h3{
    font-size: 1.4rem;

}
.footer-container p{
    font-size: 1rem;
   
}
.footer-container p a{
    font-size: 1rem;
   
}
.copyright-container p {
   font-size: 1rem;
}
}
@media(max-width:1010px){
  .first-part-cont>p, .second-part-cont>p{
   min-width:100px;
  }
  .third-part-cont>p, .fourth-part-cont>p{
  width:18%;
  min-width: 130px;
   cursor: pointer;
}
.fifth-part-cont>p{
  width:160px;
}
}

@media (max-width: 950px){
  .footer-container h3{
    font-size: 1.2rem;

}

.footer-container p{
    font-size: 0.8rem;
   
}
.footer-container p a{
    font-size: 0.8rem;
   
}
.copyright-container p{
   font-size: 0.8rem;
}
}
@media (max-width: 780px){
  .footer-container h3{
    font-size: 1rem;

}
.footer-container p{
    font-size: 0.7rem;
   
}
.first-part-cont>p, .second-part-cont>p{
  min-width:95px;
}
.third-part-cont>p, .fourth-part-cont>p{
  min-width: 100px;
}
.logo-imges-container{
    height:40px;
    padding-bottom: 1rem;
}
.copyright-container p{
   font-size: 0.7rem;
}
}
@media (max-width: 660px){
  .footer-section{
    padding-top:10px;
  }
    .footer-container{
     padding : 1rem;
     padding-top: 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 10px;
}
.first-part-cont>p, .second-part-cont>p, .third-part-cont>p, .fourth-part-cont>p{
  margin:5px 0px;
}
.fifth-part-cont{
    width:200px;
    word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
  .footer-container h3{
    font-size: 1rem;
    margin: 0.5rem 0rem;
}
.footer-container p{
    font-size: 0.7rem;
   
}
.footer-container p a{
    font-size: 0.7rem;
   
}
.three-content p{
    font-size: 0.7rem;
}
.copywrite-text {
   font-size: 0.7rem;
}
.logo-imges-container{
  width:100px;
}
}
@media (max-width: 500px){
      .footer-container{
        
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}
.first-part-cont>p, .second-part-cont>p, .third-part-cont>p, .fourth-part-cont>p{
  min-width: 100px;
 
}
.search-input{
  display: none;
}

}